@using WebApplication1.Models;
@using WebApplication1.ViewModel;
@model List<EmployeeIndexViewModel>

@{ 
    Layout = "~/Views/Shared/_LayoutCorelate.cshtml";
}
@section Title{Employees}

    <!-- EmployeeListing -->
    <section id="EmployeeListing" class="container">
        <div class="row" style="margin-bottom: 50px">
            <div class="col-md-7">
                <h2 style="font-size: 36px;margin:0 40px 20px">Employee Listing</h2>
            </div>
            <aside class="col-md-5">
                <div class="widget search">
                    @using (Html.BeginForm()) { 
                        <div class="col-md-10">
                            <input type="text" value="@ViewBag.SearchValue" name="textSearch" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </div>
                        <div class="col-md-2">
                            <a href="#">
                                <span class="text-primary">
                                    <i class="fa fa-plus-circle fa-3x" aria-hidden="true" style="color:dodgerblue"></i>
                                </span>
                            </a>
                        </div>
                    }
                </div>
                <!--/.search-->
            </aside>

        </div>
        <!--/.row-->
        <div class="row">
            @foreach(EmployeeIndexViewModel employee in Model)
            {
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="@employee.ImgURL" class="img-circle" alt="">
                        <h3>@employee.Description</h3>
                        <h4><span>-@employee.Name /</span> @employee.Salary</h4>
                        <a href="/employees/delete?id=@employee.Employee.Id"><i class="fa fa-minus-circle"></i></a>
                    </div>
                </div>
            }
         </div>
    </section>
    <!--/#blog-->
    <!-- EmployeeListing -->
